.task-list-details-container {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    padding: 10px 30px;
}

.update-button {
    padding: 6px 15px;
    border-radius: 8px;
    background-color: #52b1d7;
    border: 0px;
    cursor: pointer;
    outline: none;
}
.delete-button{
    background-color: #de1b1b;
}